*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# Project files
src
test
examples
.travis.yml
.babelrc
.gitignore

# TODO: Remove .npmignore and use files property of package.json instead
lib/*.map
lib/*.tsbuildinfo
.prettierrc                   
nodemon.json                  
tsconfig.build.json           
tsconfig.json                 
tslint.json                   
